:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

.Listings-Index {
    width: 100%;
    height: 91vh;
    position: fixed;
}

.Listings-Panels {
    display: flex;
    height: 100%;
    width: 100%;
    /* width: 100vw; */
}


#Listings-Map  {
    width: 100%;
}

#Listings-Nav {
    width:800px;
    min-width: 800px;
    overflow-y: scroll;
    box-shadow: inset 2px 0px 4px 1px rgba(0, 0, 0, .25);
}

#Listings-Header {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


#Listings-Header h2{
    margin-left: 20px;
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: var(--font-w-med);
}

#Listings-Header > div {
    display: flex;
    width: auto;
    margin-right: 50px;
    flex-direction: space-between;
    color: var(--oceansurf);
    font-family: var(--font);
    font-size: var(--font-s-med);
    font-weight: var(--font-w-sml);
}

#LI-Sort-Dropdown-Icon {
    margin-left: 5px;
}


#Listings-Container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    #Listings-Nav {
        width: 400px;
        min-width: 400px;
        overflow-y: scroll;
        box-shadow: inset 2px 0px 4px 1px rgba(0, 0, 0, .25);
    }

    #Listings-Header {
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    #Listings-Header h2 {
        text-align: center;
        margin-left: 20px;
        color: var(--oceanabyss);
        font-family: var(--font);
        font-size: 1.5vw;
        font-weight: var(--font-w-med);
    }

    #Listings-Header>div {
        display: flex;
        width: auto;
        margin-right: 50px;
        flex-direction: space-between;
        color: var(--oceansurf);
        font-family: var(--font);
        font-size: var(--font-s-med);
        font-weight: var(--font-w-sml);
    }

    #LI-Sort-Dropdown-Icon {
        margin-left: 5px;
    }
}