:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}


#Listing-Module {
    margin: 10px;
    margin-top: 10px;
    width: 370px;
    height: 275px;
    border-radius: 5px;
    border: solid 1px var(--fog);
    box-shadow: 1px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    position: relative
}

#Listing-Module:hover {
    transition: box-shadow .1s;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.25);
}

#LM-Image {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    max-height: 175px;
    overflow: hidden;
}

#Listing-Module img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}

#LM-Favorite-Container {
    padding-left: 300px;
    height: 100%;
    width: 100%;

}

.LM-Favorite {
    position: absolute;
    z-index: 10;
    color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
    padding-top: 12px;
    left: 84%
}

.LM-Favorite:hover {
    transition: color .1s, font-size, .1s;
    color: rgba(0, 0, 0, 0.75);
    font-size: 43px;
    cursor: pointer;
}

.LM-Favorite-Active {
    color: rgba(255, 0, 0, 0.9);
}

.LM-Favorite-Active:hover {
    color: rgba(255, 0, 0, 0.9);
}

#LM-Info-Container {
    height: 90px;
    width: 100%;
}

#LM-Info-Container>div {
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-family: var(--font);
}

#LM-Info-Value {
    padding-left: 10px;
    font-size: var(--font-s-med);
    font-weight: var(--font-w-med);
}

#LM-Info-Details {
    font-size: var(--font-s-sml);
    font-weight: var(--font-w-sml);
}

#LM-Info-Agent {
    font-size: 12px;
    font-weight: var(--font-w-sml);
    color: var(--oceandepths);
}

#LM-Info-Agent-Link:link { text-decoration: none; }