:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

#Image-Carousel-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 1000px;
}

#Carousel-Image {
    object-fit: cover;
    height: auto;
    width: auto;
    max-height: 800px;
    max-width: 800px;
}

#Image-Carousel-Image-Container {
    height: 800px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Image-Carousel-Button-Container {
    height: 140px;
    width: 80px;
    background-color: rgba(255, 255, 255, 0.85);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Image-Carousel-Button-Container:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.Image-Carousel-Icon {
    font-size: 50px;
}

.Image-Carousel-Icon:hover {
    color: rgba(0, 0, 0, 0.65);
}

#Image-Carousel-Right-Utils-Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 800px;
}

#Image-Carousel-Close-Container {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: flex-end;
}

#Image-Carousel-Close-Icon {
    font-size: 40px;
    color:white;
    border-radius: 50%;
}

#Image-Carousel-Close-Icon:hover {
    background-color: gray;

}