:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}


.USP-Appointments {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
}

#USP-Appointments-Container {
    display: flex;
    height: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

#USP-Appointments-Show-Container {
    display: flex;
    height: 60vh;
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#USP-Appointments-Show {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#USP-No-Appointments-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#USP-No-Appointments-Container div {
   color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-med);
    font-weight: var(--font-w-sml);
   padding: 20px;
}
