:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

#User-Show-Appointment-Module {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    margin-top: 15px;
    margin-left: 15px;
    height: auto;
    width: 360px;
    padding: 20px;
}


#USAM-Name{
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: var(--font-w-sml);
    padding: 5px;
    padding-left: 10px;
}

#USAM-Date {
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-med);
    font-weight: var(--font-w-sml);
    padding: 5px;
    padding-left: 10px;
}

#USAM-Agent-Info {
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-med);
    font-weight: var(--font-w-sml);
    padding: 5px;
    padding-left: 10px;
}

#User-Show-Appointment-Module button {
    display: flex;
    height: 33px;
    width: 185px;
    color: #efefef;
    border: none;
    font-family: var(--font);
    font-size: var(--font-s-med);
    font-weight: var(--font-w-sml);
    align-items: center;
    border-radius: 3px;
}

#User-Show-Appointment-Module button:hover {

}

#User-Show-Appointment-Module button:active {
    width: 183px;
    height: 30px;
}

#USAM-Edit-Submit {
    background-color: var(--enchantment);
    display: flex;
    justify-content: center;
    align-items: center;
}

#USAM-Cancel-Submit {
    background-color: var(--burnt-amber);
    display: flex;
    justify-content: center;
    align-items: center;
}

#USAM-Edit {
    padding-top: 3px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}


#USAM-Cancel {
    padding-top: 3px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
