:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-serif: "Ivar Headline", "Ivar Headline Subset", "Adjusted Times", "Adjusted Times New Roman", "Times New Roman", serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}


.Sign-Up-Form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Sign-Up-Form > * {
    font-family: var(--font);
    font-size: var(--font-s-sml);
    font-weight: var(--font-w-med);
    display: block;
    width: 90%;
    flex-direction: column;
    margin: 10px;
    border-radius: 50px;
}

.Sign-Up-Form > * > input {
    display: block;
    border: 1px solid slategrey;
    background-color: var(--fog);
    font-size: var(--font-s-med);
    margin-top: 5px;
    height: 35px;
    width: 96%;
    border-radius: 4px;
    color: var(--oceandepths);
    padding-left: 10px;
}


.Sign-Up-Form>*>input::placeholder {
    color: darkgray;
    font-family: var(--font);
    font-size: 16px;
    font-weight: var(--font-w-med);
}

input[type=checkbox] {
    transform: scale(2);
    padding: 10px;
    margin: 10px
}

.Sign-Up-Form > button {
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid slategrey;
    font-size: var(--font-s-med);
    background-color: var(--oceansurf);
    margin-top: 5px;
    height: 35px;
    width: 90%;
    border-radius: 4px;
    color: var(--fog);
    transition: background-color 1s;
}

.Sign-Up-Form>button:hover {
    cursor: pointer;
    transition: background-color 1s;
    background-color: var(--oceandepths);
}

.Sign-Up-Form>button:active {
    height: 32px;
    width: 87%;
}

#Sign-Up-Errors {
    color: red;
    font-family: var(--font);
    font-weight: var(--font-w-med);
    font-size: var(--font-s-sml);
}