:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

#LSP-Details-h2 {
    margin-bottom: 20px;
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: var(--font-s-lrg);
}

#LSP-Details-Info {
    display:flex;
    flex-direction: column;
    width: 100%;
    border: solid var(--fog) 2px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: -1px;
}

#LSP-Details-Info-Header-Box {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    width: 100%;
    height: 40px;
    background-color: var(--fog);
    font-family: var(--font);
    font-size: var(--font-s-sml);
    font-weight: var(--font-w-lrg);
}

#LSP-Details-Info-Header2 {
    padding-left: 25px;
    padding-top: 15px;
    font-family: var(--font);
    font-size: var(--font-s-sml);
    font-weight: var(--font-w-lrg);
}
#LSP-Details-Info-Details{
    border-bottom: 2px solid var(--fog);
}

#LSP-Details-Info-Details ul {
    display: flex;
}

#LSP-Details-Info-Details li {
    margin: 20px;
    margin-left: 25px;
    width: 200px;
    font-family: var(--font);
    font-size: var(--font-s-sml);
    font-weight: var(--font-s-med);
}

#LSP-Details-Info-Details li:before{
    content: "• ";
}


@media (max-width: 1024px) {
    #LSP-Details-h2 {
        margin-bottom: 2vw;
        font-size: 2.2vw;
    }

    #LSP-Details-Info {
        border: solid var(--fog) .2vw;
        border-radius: 1vw;
        margin-top: 1vw;
        margin-left: -.1vw;
    }

    #LSP-Details-Info-Header-Box {
        padding-left: 2vw;
        width: 100%;
        height: 4vw;
        font-size: 1.5vw;
    }

    #LSP-Details-Info-Header2 {
        padding-left: 2.5vw;
        padding-top: 1.5vw;
        font-size: 1.5vw;
    }

    #LSP-Details-Info-Details {
        border-bottom: .2vw solid var(--fog);
    }

    #LSP-Details-Info-Details li {
        margin: 2vw;
        margin-left: 2.5vw;
        width: 20vw;
        font-size: 1.5vw;
    }

    #LSP-Details-Info-Details li:before {
        content: "• ";
    }
}