:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}


.Listing-Show-Page {
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Listing-Show-Page > div {
    width: 1370px;
}

.Listing-Show-Page-Images {
    height:  500px;
    border: solid black 1px;
}

.Listing-Show-Page-Topline {
    height: 230px;
    border: solid black 1px;
    display: flex;
}

.Listing-Show-Page-Core-Info {
    display: flex;
    width: 1370px;
    height: 230px;
    border: solid black 1px;
}

.Listing-Show-Page-Core-Info > div {
    border: solid black 1px;
    width:100%;
    height:100%;
}

#Listing-Show-Page-Appointment-Info {
    height: 100%;
    border: solid black 1px;
    width: 330px;
}

#Listing-Show-Page-Mortgage-Info {
    width: 60%;
}


#Listing-Show-Page-Address {
    width: 100%;
    height: 70%;
    border: solid black 1px;
}

#Listing-Show-Page-Base-Stats {
    width: 100%;
    height: 30%;
    border: solid black 1px;
}

#Listing-Show-Page-Local-Info {
    height: 360px;
    border: solid black 1px;
}

#Listing-Show-Page-Description{
    height: 360px;
    border: solid black 1px;
}

#Listing-Show-Page-Highlights{
    height: 180px;
    border: solid black 1px;
}

#Listing-Show-Page-Details {
    height: 360px;
    border: solid black 1px;
}
