:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

.LSP {
    color: var(--oceanabyss);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.LSP>div {
    width: 900px;
}

/* #LSP-Description {
    inline-size: 600px;
} */

#LSP-Description h2 {
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: var(--font-s-lrg);
}

#LSP-Description p {
    font-family: var(--font);
    font-size: var(--font-s-med);
    font-weight: var(--font-w-sml);
}

#LSP-Local-Info {
    height: 360px;
    border: solid black 1px;
}

#LSP-Highlights {
    height: 180px;
    border: solid var(--fog) 2px;
    border-radius: 10px;
    margin: 10px;
}

#LSP-HLT-Header {
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: var(--font-s-lrg);
    padding: 10px;
    padding-left: 20px;
}

#LSP-HLT-Container {
    display: flex;
}

#LSP-HLT-Container > div {
    width: 450px;
}

#LSP-Details {
    height: 360px;
    border: solid black 1px;
}