:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}


.Listing-Show-Page {
    color: var(--oceanabyss);
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Listing-Show-Page > div {
    width: 900px;
}

.Listing-Show-Page-Images {
    height:  500px;
    border: solid black 1px;
}

.Listing-Show-Page-Core-Info {
    display: flex;
    width: 1370px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Listing-Show-Page-Core-Info > div {
    width:100%;
    height:100%;
}

#Listing-Show-Page-Appointment-Info {
    height: 100%;
    width: 330px;
}


.Listing-Show-Page-Address {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
}

.Listing-Show-Page-Address > span {
    padding: 5px;
    padding-left: 10px;
}

.Listing-Show-Page-Mortgage-Info>span {
    padding: 5px;
}

#Listing-Show-Page-Core-Info-h2 {
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: 500;
}


#Listing-Show-Page-Core-Info-Body {
    font-family: var(--font);
    font-size: var(--font-s-sml);
    font-weight: var(--font-w-med);
    color: var(--oceanabyss);
}

#Listing-Show-Page-Base-Stats {
    padding-left: 10px;
    display: flex;
    align-items: center;
    width: auto;
    height: 50%;
}

#Listing-Show-Page-Base-Stats > div {
    padding: 10px;
    font-family: var(--font);
    font-size: var(--font-s-sml);
    font-weight: var(--font-w-sml);
    display: flex;
    height: auto;
    width: auto;
    align-items: flex-end;
}

.Listing-Show-Page-Icon {
    font-size: 30px;
}

.Listing-Show-Page-Mortgage-Info {
    display: flex;
    flex-direction: column;
}

#Listing-Show-Page-Local-Info {
    height: 360px;
    border: solid black 1px;
}

#Listing-Show-Page-Description{
    height: 360px;
    border: solid black 1px;
}

#Listing-Show-Page-Highlights{
    height: 180px;
    border: solid black 1px;
}

#Listing-Show-Page-Details {
    height: 360px;
    border: solid black 1px;
}
