:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

#LSP-Reviews-h2 {
    margin-bottom: 20px;
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: var(--font-s-lrg);
}

#LSP-Review-Container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 100%;
    border: solid var(--fog) 3px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: -1px;
    overflow-y: scroll;
    justify-content: space-around;
}

#LSP-Review-Container.No-Review {
    height: 200px;
}

#Form-Setup {
    height: 200px;
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

#LSP-No-Review-Prompt-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

#LSP-No-Review-Prompt-Container div {
    padding: 20px;
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: var(--font-w-sml);
}

#Write-Review-Prompt:hover {
    color: var(--oceansurf);
    cursor: pointer;
    text-decoration: underline;
    
}