:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-serif: "Ivar Headline", "Ivar Headline Subset", "Adjusted Times", "Adjusted Times New Roman", "Times New Roman", serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}



#Fixed-Modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

#Scroll-Modal {
    z-index: 10;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    background-color:white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: auto;
}

#Scroll-Modal > #modal-content {
    top: -90px;
    border-radius: 0px;
}

#Image-Modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    height: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
}

#Image-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

#Image-modal-content {
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    flex-direction: column;
    position: absolute;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15);
    padding: 20px;
}
