:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

.LSP-Review-Module {
    width: 600px;
    height: auto;
    border: 1px solid gray;
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-sml);
    font-weight: var(--font-w-sml);
    margin: 15px;
    padding: 20px;
    line-height: 20px;
    border-radius: 4px;
}

.LSP-Review-Module > div {
    padding: 5px ;
}

#LSPRM-Top-Bar {
    display: flex;
    height: 20px;
    justify-content: space-between;
} 

#LSPRM-Username {
    font-size: var(--font-s-med);
    font-weight: var(--font-w-med);
}

#LSPRM-Top-Bar-Icons {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

#LSPRM-Top-Bar-Icons > * {
    font-size: 20px;
}

#LSPRM-Top-Bar-Icons > *:hover {
    font-size: 21px;
    color: var(--enchantment)
}

#LSPRM-Date {
    margin-top: 3px;
}

#LSPRM-Body {
    padding-top: 11px;
    height: auto;
}