:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

.LSP-Review-Module {
    width: 600px;
    height: auto;
    border: 1px solid gray;
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-sml);
    font-weight: var(--font-w-sml);
    margin: 15px;
    padding: 20px;
    line-height: 20px;
    border-radius: 4px;
}

.LSP-Review-Module > div {
    padding: 5px ;
}

#LSPRM-Top-Bar {
    display: flex;
    height: 20px;
    justify-content: space-between;
} 

#LSPRM-Username {
    font-size: var(--font-s-med);
    font-weight: var(--font-w-med);
}

#LSPRM-Top-Bar-Icons {
    width: 50px;
    display: flex;
    justify-content: space-between;
}

#LSPRM-Top-Bar-Icons > * {
    font-size: 20px;
}

#LSPRM-Top-Bar-Icons > *:hover {
    font-size: 21px;
    color: var(--enchantment)
}

#LSPRM-Username-Edit-Container {
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#LSPRM-Username-Edit-Text {
    border-color: gray;
    margin-top: 20px;
    border-radius: 4px;
    width: 95%;
    height: 150px;
    padding: 20px;
    line-height: 35px;
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-med);
    font-weight: var(--font-w-sml);
}

#LSPRM-Username-Edit-Submit {
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid slategrey;
    font-size: var(--font-s-med);
    background-color: var(--oceansurf);
    margin-top: 10px;
    height: 35px;
    width: 230px;
    border-radius: 4px;
    color: var(--fog);
    transition: background-color 1s;
}

#LSPRM-Username-Edit-Submit:hover {
    cursor: pointer;
    transition: background-color 1s;
    background-color: var(--oceandepths);
}

#LSPRM-Username-Edit-Submit:active {
    height: 32px;
    width: 220px;
}

#LSPRM-Date {
    margin-top: 3px;
}

#LSPRM-Body {
    padding-top: 11px;
    height: auto;
}


@media (max-width:1024px) {
    .LSP-Review-Module {
        border: .1vw solid gray;
        border-radius: .4vw;
        width: 60vw;
        font-size: 1.5vw;
        margin: 1.5vw;
        padding: 2vw;
        line-height: 2vw;
    }

    .LSP-Review-Module>div {
        padding: .5vw;
    }

    #LSPRM-Top-Bar {
        height: 2vw;
    }

    #LSPRM-Username {
        font-size: 1.7vw;
    }

    #LSPRM-Top-Bar-Icons {
        width: 5vw;
    }

    #LSPRM-Top-Bar-Icons>* {
        font-size: 2vw;
    }

    #LSPRM-Top-Bar-Icons>*:hover {
        font-size: 2.1vw;
    }


    #LSPRM-Username-Edit-Text {
        border-radius: .4vw;
        margin-top: 2vw;
        width: 95%;
        height: 15vw;
        padding: 2vw;
        line-height: 3.5vw;
        font-size: 1.7vw;
    }

    #LSPRM-Username-Edit-Submit {
        border: .1vw solid slategrey;
        border-radius: .4vw;
        font-size: 1.7vw;
        margin-top: 1vw;
        height: 3.5vw;
        width: 23vw;
    }


    #LSPRM-Username-Edit-Submit:active {
        height: 3.2vw;
        width: 22vw;
    }

    #LSPRM-Date {
        margin-top: 3px;
    }

    #LSPRM-Body {
        padding-top: 1.1vw;
    }
}