#Session-Modal-Content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#Session-Modal-Content > h2 {
    font-family: var(--font-serif);
    font-size: 30px;
    font-weight: var(--font-w-lrg);
    color: var(--oceanabyss);
}

#modal-x {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#modal-x:hover {
    background-color: var(--fog);
}

#sessionType {
    margin: 5px;
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: var(--font-w-med);
    border-bottom: var(--oceandepths) solid 1px;
    width: 400px;
    justify-content: flex-start;
}

#sessionType>button {
    background-color: transparent;
    height: 40px;
    border: 0px;
    margin-bottom: 2px;
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-med);
    font-weight: var(--font-w-med);
}

#sessionType>.selected {
    margin: 0px;
    color: var(--oceanabyss);
    border-bottom: 3px solid var(--burnt-amber);
    border-radius: 5%;
}

#sessionType>button:hover {
    color: var(--burnt-amber);

}