:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

#Hero {
    height:400px;
    width:100%;
}


#Hero > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#Hero-Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: var(--beeswax);
    font-size: 100px;
    bottom: 300px;
}

#Search-Bar {
    margin: 50px;
    display: flex;
    justify-content: center;
    width: 100%
}

#Search-Bar > input {
    border-radius: 20px;
    width: 50%;
    height: 50px;
    font-family: var(--font);
    font-size: var(--font-s-med);
}