:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

.User-Show-Page {
    height: 91vh;
    width: 100%;
    position: fixed;
}

.USP-Appointments {
    height: 300px;
    width: 100%;
    background-color: var(--grassyplains);
}

.USP-Favorites {
    height: auto;
    width: 100%;
    background-color: var(--fog);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

#USP-Favorites-Header {
    margin: 25px;
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-lrg);
    font-weight: var(--font-w-sml);
}

.USP-Favorited-Carousel {
    width: auto;
    height: auto;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.USP-Carousel-Button {
    width: 60px;
    height: 100px;
    margin: 15px;
    background-color: rgb(0, 0, 0, .18);
    display: flex;
    align-items: center;
    justify-content: center;
}

.USP-Carousel-Button-Icon {
    font-size: 40px;
    color: rgb(0, 0, 0, .65);
}

.USP-Carousel-Button:hover {
    background-color: rgb(0, 0, 0, .25);
}

#USP-Favorites-None-Body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#USP-Favorites-None-Body div {
    padding: 20px;
    color: var(--oceanabyss);
    font-family: var(--font);
    font-size: var(--font-s-med);
    font-weight: var(--font-w-sml);
}