:root {
    --font: "Graphik Webfont", -apple-system, "Helvetica Neue", "Droid Sans", Arial, sans-serif;
    --font-w-lrg: 700;
    --font-w-med: 400;
    --font-w-sml: 300;
    --font-s-lrg: 24px;
    --font-s-std: 20px;
    --font-s-med: 18px;
    --font-s-sml: 14px;

    --burnt-amber: #f1641d;
    --beeswax: #FDEBD2;
    --grassylight: #d4e9d7;
    --grassyplains: #9ec064;
    --enchantment: #9560b8;
    --oceanmist: #d7e5f5;
    --oceansurf: #4d6bc6;
    --oceandepths: #2f466c;
    --oceanabyss: #232347;
    --fog: #efefef;
}

#Splash-Page-Footer-Info {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Splash-Page-Footer-Info > div {
    width: 32%;
    text-align: center;
    line-height: 20px;
    font-family: var(--font);
    font-size: 13px;
    font-weight: var(--font-w-sml);
    margin-top: 20px
}

#Splash-Page-Footer-Image {
    width: 100%
}

#Splash-Page-Footer-Image img {
    width: 100%
}

@media (max-width: 800px) {
    #Splash-Page-Footer-Info {
        height: auto;
    }

    #Splash-Page-Footer-Info > div {
        width: 60%;
        text-align: center;
        line-height: 2.5vw;
        font-family: var(--font);
        font-size: 2vw;
        margin-top: 20px
    }
}